* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

header {
    background-color: #1f2937;
    color: white;
    display: flex;
    padding: 1rem 10%;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}


ul {
display: flex; 
gap: 10px;
margin: 0;
padding: 0;
list-style-type: none;
}

a {
    text-decoration: none;
color: white;
margin-left: 1.5rem;
}




img {
    height: 100px;
    width: 100px;
}

.hero { 
 background-color: #1f2937;
 color: white;
 padding: 5rem 10%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 2rem;
}

.hero-content {
    max-width: 50%;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 1.5rem;
}

.hero-img {
    background-color: #6d747d;
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.info {
    text-align: center;
    padding: 5rem 10%;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 3rem;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.card {
    width: 150px;
    text-align: center;
}

.card-img {
    width: 100%;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.card p {
    color: #6d747d;
    font-size: 0.9rem;
}


.quote {
    background-color: #e5e7eb;
    padding: 5rem 15%;
    text-align: center;
}

.quote blockquote p {
    font-size: 1.5rem;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 1rem;

}

.quote cite {
    display: block;
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
    color: #1f2937;
}

.cta {
    padding: 3rem 10%;
}
.cta-box {
    background-color: #3882f6;
    padding: 2rem 3rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.cta-text h3 {
font-size: 1.5rem;
margin-bottom: 0.5rem;
}

.cta-text p {
    font-size: 1rem;
    color: #e5e7eb;
}

.cta-button {
    background-color: #3882f6;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.cta-button:hover {
    background-color: white;
    color: #3882f6;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
}